<?php $ajaxcart = Mage::getStoreConfig('ajaxcart/viewsetting'); ?>
<div class="block block-cart ajaxcartbl">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <div class="block-title">
        <strong><span><?php echo $this->__('My Cart') ?></span></strong>
    </div>
    <div class="block-content">
    <?php if ($_cartQty> 0): ?>
        <div class="summary">
            <?php if ($_cartQty==1): ?>
                <p class="amount"><?php echo $this->__('There is <a href="%s">1 item</a> in your cart.', $this->getUrl('checkout/cart')) ?></p>
            <?php else: ?>
                <p class="amount"><?php echo $this->__('There are <a href="%s">%s items</a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?></p>
            <?php endif ?>

        </div>
    <?php endif ?>

    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
        <ol id="cart-sidebar" class="mini-products-list">
        <?php foreach($_items as $_item): ?>
            <?php echo $this->getItemHtml($_item) ?>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your shopping cart.') ?></p>
    <?php endif ?>
	
	    <?php if ($_cartQty> 0): ?>
        <p class="subtotal">
            <?php if ($this->canApplyMsrp()): ?>
                <span class="map-cart-sidebar-total"><?php echo $this->__('ORDER TOTAL WILL BE DISPLAYED BEFORE YOU SUBMIT THE ORDER'); ?></span>
            <?php else: ?>
                <span class="label"><?php echo $this->__('Cart Subtotal:') ?></span> <?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?>
                <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
                    <br />(<?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                <?php endif; ?>
            <?php endif; ?>
        </p>
    <?php endif;?>
        
    <?php if($_cartQty && ($ajaxcart['enableupdate'] || $ajaxcart['enablecheckout'] || $ajaxcart['enableclear'])): ?>
    <div class="actions">
    	<?php if($ajaxcart['enableupdate']){ ?>
        	<button class="button btn-cart btajaxqtyall" title="<?php echo $this->__('Update') ?>" type="button"><span><span><?php echo $this->__('Update') ?></span></span></button>
        <?php } ?>
                    
    	<?php if($ajaxcart['enableclear']){ ?>
        <button type="button" title="<?php echo $this->__('Empty cart') ?>" class="button ajetall" value="<?php echo $this->getUrl('ajaxcart/index/index/delete/all'); ?>"><span><span><?php echo $this->__('Empty cart') ?></span></span></button>
        <?php } ?>
        <?php if($ajaxcart['enablecheckout']){ ?>
        <button type="button" title="<?php echo $this->__('Checkout') ?>" class="button ajcheckout" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')"><span><span><?php echo $this->__('Checkout') ?></span></span></button>
         <?php } ?>
         <button type="button" title="<?php echo $this->__('My Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><span><span><?php echo $this->__('My Cart') ?></span></span></button>
    </div>
    <?php endif ?>	
	
    </div>
</div>