<?php $suffix = strtolower($this->getNameInLayout()); ?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="widget-catalogsale-products-carousel" id="<?php echo $suffix ?>">
  <div class="container">
	  <div class="new-slider">
	      <div class="box-left" id="left_but"> &nbsp;</div>
			  <div class="box-top">
			      <ul id="slider_list">
			        <?php foreach ($_products->getItems() as $_product): ?>
			        <li>
			          	<a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(100) ?>" width="100" height="100" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
			          	<div class="product-details">
			              	<p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></p>
			              	<?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
			              	
			              	<?php /*
			              	<?php if ($_product->getIsSalable()): ?>
			                  	<a href="<?php echo $this->getAddToCartUrl($_product) ?>" class="link-cart"><span><span><?php echo $this->__('Add to Cart') ?></span></span></a>
			              	<?php else: ?>
			                  	<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
			              	<?php endif; ?>
			              	*/ ?>
			          </div>
			        </li>
			        <?php endforeach ?>
			      </ul>
			      <div class="clear"></div>
			  </div>
		   	  <div class="box-right" id="right_but"> &nbsp;</div>
		     <div class="clear"></div>
	  </div>
   </div>
</div>
<?php endif; ?>

