<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="specials-products">
        <div class="page-title category-title">
            <h1><?php echo $this->__('Specials') ?></h1>
        </div>
            <?php $suffix = $this->getNameInLayout(); ?>
            <ul class="products-grid row" id="widget-catalogsale-products-<?php echo $suffix; ?>">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item col-xs-12 col-sm-3" itemscope itemtype="http://schema.org/product">
                    <div class="grid_wrap">
                    <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" itemprop="url">
                        <img data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240) ?>"  width="240" height="240" class="lazy" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" src="<?php echo $this->getSkinurl('images/image_placeholder.jpg'); ?>"/>
                    </a>
                    <div class="product-shop">
                        <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)" itemprop="name"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></p>
                        <div class="desc_grid" itemprop="description"><?php $small_getDescription = strip_tags($_product->getShortDescription());
                            if (strlen($small_getDescription) < 70) echo($small_getDescription);
                            else { echo mb_substr($small_getDescription, 0, 70,'UTF-8').'...';} ?>
                        </div>
                        <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                        <?php /*
                        <div class="actions">
                            <?php if($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                        </div>
                        */ ?>
                    </div>
					<?php $_product = Mage::getModel('catalog/product')->load($_product->getId()); ?>
                    <div class="label-product">             
                        <?php if($_product->getData('new')){echo '<span class="new">'.$this->__('New').'</span>';  }?>
                        <?php if($_product->getData('sale')){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                    </div>
                    </div>
                </li>
            <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
</div>
<?php endif; ?>
